.formulario{
    display: flex;
    justify-content: center;
    margin: 80px 0;
    
}

.formulario form{
 width: 80%;
 margin-left: 46px;
 background-color: #f2f2f2;
 padding: 36px 64px;
 border-radius: 20px;
 box-shadow: 8px 8px 16px rgba(0, 0, 0, 0,8);

}

.formulario form h2{
    font-size: 20px;
    margin: none;
    padding: none;
}

.listaprodutos {
    list-style-type: none;
    background-color: white;
    border-radius: 5%;
    padding: 25px;
    

}

.listaprodutos h2{
    font-size: 24px;
    margin-top: 0;
}

.listaprodutos li{
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0,8);
    background-color: aliceblue;
    margin: 10px;
}

.listaprodutos li span{
    font-weight: bold;
    margin-right: 24px;
    
}